/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-weight: 500;
  padding-left:0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-primary:hover{
    background-color:#3a8eda;
}

.navbar .nav-link.active {
    color: #1861ac !important;
}

navbar .container {
    padding-left:15px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
    flex: 1 0 auto;
    padding-bottom: 5rem !important;
    min-height: 500px;
}

.footer {
  position:relative;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  margin-top:auto;
}
