@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@{
    var role = User.FindFirst(ClaimTypes.Role)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/backend.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Főoldal</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">

                    @if (User.Identity.IsAuthenticated)
                    {

                        if (role == "Admin")
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="LoggedInHome">Admin felület</a></li>
                        }
                        else if (role == "Mechanic")
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="LoggedInHome" asp-action="Index">Szerelő felület</a></li>
                        }
                        else if (role == "Client")
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="LoggedInHome" asp-action="Index">Munkalapok</a></li>
                        }
                    }

                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>

        

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TBC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Adatvédelmi elvek</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
