@{
    ViewData["Title"] = "Szolgáltatásaink";
}
<div style="background-image: url('/sten-rademaker-mechanic_working_on_a_car-unsplash.jpg'); background-size: cover; background-position: center; padding: 40px; color:darkgray">
    <h4><strong>Szolgáltatásaink</strong></h4>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Vestibulum ut lacus quis nisi dictum euismod.</li>
        <li>Quisque quis mi vel nibh laoreet condimentum eu non felis.</li>
        <li>Phasellus feugiat nisi id enim semper suscipit.</li>
        <li>Nunc porttitor justo et purus facilisis tristique.</li>
    </ul>

    <h4><strong>Szolgáltatásaink</strong></h4>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Vestibulum ut lacus quis nisi dictum euismod.</li>
        <li>Quisque quis mi vel nibh laoreet condimentum eu non felis.</li>
        <li>Phasellus feugiat nisi id enim semper suscipit.</li>
        <li>Nunc porttitor justo et purus facilisis tristique.</li>
    </ul>

    <h4><strong>Szolgáltatásaink</strong></h4>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Vestibulum ut lacus quis nisi dictum euismod.</li>
        <li>Quisque quis mi vel nibh laoreet condimentum eu non felis.</li>
        <li>Phasellus feugiat nisi id enim semper suscipit.</li>
        <li>Nunc porttitor justo et purus facilisis tristique.</li>
    </ul>
</div>